*.class
*.settings
*.classpath
*.project
.gradle/*
bin/*
# Package Files #
*.jar
*.war
*.ear
	

target/

#Do not post company defaults to a public repo
src/test/resources/companyDefaults/*
src/main/resources/homeApp.properties
